body {
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.to-do-form {
    display: grid;
}

label {
    display: grid;
    grid-template-columns: 100px 1fr;
}

input {
    border-radius: 2px;
    align-self: center;
    background-color: gainsboro;
  }

.to-do-button {
    grid-column: span/2;
    margin: 5px 0px 5px 0px;
    background-color: #3CBC8D;
    color: white;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid black;
}

.to-do-container {
    background-color: white;
    border: 2px black solid;
    width: 30vw;
    height: 90vh;
    padding: 20px;
    margin: 0 10px 0 10px;
    overflow: auto;
}

.desc-input {
    height: 2lh;
}

.entry {
    width: 90%;
    margin: 10px 10px 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 1.5px;
    font-size: 14px;
}

/* Left button */
.left-button {
    background-color: #ffcc00; /* Yellow */
    color: white;
    height: 50%;
    align-self: center;
    border: 1.5px solid black;
}


/* Right button */
.right-button {
    background-color: #66cc66; /* Green */
    color: white;
    height: 50%;
    align-self: center;
    border: 1.5px solid black;
}

/* Remove button */
.remove-button {
    background-color: #ff6666; /* Red */
    color: white;
    height: 50%;
    align-self: center;
    border: 1.5px solid black;
}

.to-do-line {
    display: grid; 
    grid-template-columns: 7fr 1fr 1fr 1fr 0.5fr;
    border: 3px solid black;
    overflow:scroll;
    margin-bottom: 2px;
}

.input-text {
    font-weight: 500;
}